
#title{
  background-color: #ff4c68;
  color: white;
}


body{
  font-family: "Montserrat";
}


.h1-1{
  font-family: 'Montserrat-Black', sans-serif;
  /* font-size: 300%; */
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  margin-top: 10%
}


.container-fluid{
  padding: 3% 15%;
  padding-bottom: 100px;
}

/* NAVBAR */
.navbar{
  padding-left: 0;
  padding-bottom: 4.5rem;
  color:white;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color:white;
}

.nav-item{
  padding: 0 20px;
}
.nav-link{
  font-size: 1.2rem;
  /* color:white; */
}

.navbar-light{
  color:white;
}

#brand-1{
  color:white;
}

.download-btn{
  margin: 5% 3% 5% 0;
}


.title-img{
  margin-top: 0;
  width: 60%;
  transform: rotate(25deg);
  transform-origin: bottom right;
  transform-origin: center;
  position: absolute;
  right:30%;
}

.feature-container{
  padding: 10% 0;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-icon{
    margin-top: 5%;
   font-size:3.5rem;
   color:#ef8172;
   display: inline-block;
   width: 100%;
   text-align: center;
}

.feature-icon:hover{
  color:#ff4c68;
}

.feature-container p,h3{
  font-family: 'Marck Script', cursive;
  text-align: center;
  padding: 0 10%;
}

.feature-container p{
  color: #8f8f8f;
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom:5%;
}


.feature-container h3{
  font-family: 'Montserrat-Black', sans-serif;
  margin-top: 20px;
  font-weight: bold;
}

#testimonials{

  text-align: center;
  background-color:#ef8172;
  color:#fff;
}

#testimonials h2{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img{
  width: 20%;
  border-radius: 50%;
  margin:20px;
  margin-bottom:0;
  padding-bottom:0;
}

#testimonials .carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 20px;
  text-align: center;
}

#press img{
  padding-bottom: 20px;
  margin:0 30px;
  width: 15%;
}


#pricing{
  text-align:center;
  padding:100px;
}

.card-col{
  padding: 3% 2%;
}

@media (max-width:1028px) {

  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform:rotate(0);
    transform: scale(0.8);
    padding:0;
  }
}
